@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@300;400&display=swap');

*{
  box-sizing: border-box;
}

@font-face {
  font-family: Pokemon-Solid;
  src: url(images/Pokemon-Hollow.ttf);
  src: url(images/Pokemon-Solid.ttf);
}

@font-face {
  font-family: Pokemon-Hollow;
  src: url(images/Pokemon-Hollow.ttf);
}

/* html,body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: absolute;
} */

body {
  margin: 0px;
  padding: 0px;
  background: #2A304F;
  background-image: url(images/img-back.png) ;
}

header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 295px;
}

footer {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 50px; 
  position: relative;
  bottom: 0;
  width: 100%;
}

h3 {
  font-family: Pokemon-Solid;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #EDEAFF;
}


.page-name {
  font-family: Pokemon-Solid;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 140px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-text-stroke: 8px #2F6AB3;
  color: #FFCB08;
  mix-blend-mode: normal;
  margin-top: -10px;
}

#info-pokemon-section {
  display: grid;
  grid-template-columns: repeat(4, 222px);
  grid-gap: 80px;
  padding: 10px;
  justify-content: center;
  margin-top: 70px;
}

.title-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 222px;

  background: #495487;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

